<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Zacks Support Portal</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <style>
      * {
        box-sizing: border-box;
      }

      body {
        font-family: 'Roboto', sans-serif;
        background-color: #f7f7f7;
      }

      h1,h2,h3,h4,h5 {
        font-family: 'Open Sans', sans-serif;
        color: #0080aa;
      }
      
      h2 {
        margin-top: 5px;
        margin-bottom: 5px;
      }

      .wrapper {
        max-width: 700px;
        margin: 0 auto;
        background-color: white;
      }

      .word {
        font-weight: bold;
      }

      .terms {
        margin-top: 50px;
      }

      .term {
        padding: 20px 0;
        margin: 0 20px;
        border-top: 2px solid #f7f7f7;
      }

      #filter {
        width: 100%;
        font-size: 20px;
        padding: 15px;
        position: fixed;
        top: 0;
        width: 700px;
        border: none;
        border-bottom: 2px solid #f7f7f7;
      }
    </style>

    <script>
      $(function() {
        $("#filter").on("keyup", function() {
          var value = $(this).val().toLowerCase();

          $(".term").filter(function() {
            $(this).toggle($(this).find('h2').text().toLowerCase().indexOf(value) > -1)
          });
        });
      });
    </script>
  </head>
  <body>
    <div class="wrapper">
      {{{body}}}
    </div>
  </body>
</html>
